<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListaMarinho1" >
        <activity
            android:name=".HelloWorld"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".AppVelocidade"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TelaMenu"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".AppForca"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppEnergiaCinetica"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppFahrenheitCelsius"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppCelsiusFahrenheit"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppVolumeParalelepipedo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppEquacaoTorricelli"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppFormulaDiluicao"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TelaSplash"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>